asgiref==3.5.2
boto3==1.26.22
botocore==1.29.22
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
colorama==0.4.5
cryptography==37.0.4
decorator==4.4.2
defusedxml==0.7.1
Django==4.1
django-admin-persian-fonts==0.2
django-allauth==0.51.0
django-auto-logout==0.5.0
django-cleanup==6.0.0
django-jalali-date==1.0.1
django-rest-framework==0.1.0
django-storages==1.13.1
djangorestframework==3.13.1
ghasedakpack==0.1.11
idna==3.3
imageio==2.21.2
imageio-ffmpeg==0.4.7
jdatetime==4.1.0
jmespath==1.0.1
moviepy==1.0.3
num2fawords==1.1
numpy==1.23.2
numToWord==1.0
oauthlib==3.2.0
opencv-python==4.6.0.66
Pillow==9.2.0
proglog==0.1.10
pycparser==2.21
PyJWT==2.4.0
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2022.2.1
requests==2.28.1
requests-oauthlib==1.3.1
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.2
tqdm==4.64.1
tzdata==2022.2
urllib3==1.26.11
